[submodule "vimfiles/autoload"]
	path = vimfiles/autoload
	url = git://github.com/paulnicholson/vim-pathogen.git
[submodule "vimfiles/bundle/autocomplpop"]
	path = vimfiles/bundle/autocomplpop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "vimfiles/bundle/netrw"]
	path = vimfiles/bundle/netrw
	url = git://github.com/vim-scripts/netrw.vim.git
[submodule "vimfiles/bundle/command-t"]
	path = vimfiles/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vimfiles/bundle/taglist"]
	path = vimfiles/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
