[submodule "vimfiles/autoload"]
	path = vimfiles/autoload
	url = git://github.com/paulnicholson/vim-pathogen.git
[submodule "vimfiles/bundle/autocomplpop"]
	path = vimfiles/bundle/autocomplpop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "vimfiles/bundle/netrw"]
	path = vimfiles/bundle/netrw
	url = git://github.com/vim-scripts/netrw.vim.git
[submodule "vimfiles/bundle/command-t"]
	path = vimfiles/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vimfiles/bundle/taglist"]
	path = vimfiles/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/bufkill"]
	path = vimfiles/bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "vimfiles/bundle/peaksea"]
	path = vimfiles/bundle/peaksea
	url = git://github.com/vim-scripts/peaksea.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/lusty"]
	path = vimfiles/bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "vimfiles/bundle/a.vim"]
	path = vimfiles/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vimfiles/bundle/camelcasemotion"]
	path = vimfiles/bundle/camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "vimfiles/bundle/cocoa"]
	path = vimfiles/bundle/cocoa
	url = git://github.com/msanders/cocoa.vim.git
[submodule "vimfiles/bundle/pathogen"]
	path = vimfiles/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/neocomplcache"]
	path = vimfiles/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vimfiles/bundle/ack.vim"]
	path = vimfiles/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/vim-easymotion"]
	path = vimfiles/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "gvimfullscreen_win32"]
	path = gvimfullscreen_win32
	url = git://bitbucket.org/rko/gvimfullscreen_win32.git
